:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;

    --primary-bg: #121212; /* Фон страницы */
    --secondary-bg: #343541; /* Вторичный фон */
    --primary-text: #f1f5fb; /* Основной текст */
    --secondary-text: #9ca3af; /* Вторичный текст */
    --accent-color: #10a37f; /* Акцентный цвет */
    --border-color: #4b5563; /* Цвет границ */
    --hover-bg: #2a2b32; /* Цвет для ховера */
}

html, body {
    margin: 0; /* Убираем стандартные отступы */
    padding: 0; /* Убираем стандартные внутренние отступы */
    height: 100%; /* Устанавливаем высоту 100% */
    box-sizing: border-box; /* Гарантируем правильный подсчет размеров */
    display: flex;
    flex-direction: column;
}

@keyframes wavyGradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.header_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--primary-bg);
    }

.header_container_pretty {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(135deg, #804e16, #c497a6);
    background-size: 200% 200%; 
    animation: wavyGradient 15s infinite alternate ease-in-out;
}

.header {
    flex: 1; /* Фиксированная высота (или auto) для заголовка */
    cursor: pointer;
}

.content {
    flex: 1; /* Эта часть будет занимать оставшееся пространство */
    overflow: auto; /* Добавьте, если нужно скроллирование внутри */
    border-radius: 20px;
    background: #2a2b32;
}

.content_pretty {
    flex: 1; /* Эта часть будет занимать оставшееся пространство */
    overflow: auto; /* Добавьте, если нужно скроллирование внутри */
    border-radius: 20px;
    background: rgba(200, 200, 200, 0.15);
    backdrop-filter: blur(1px);
}

.footer {
    flex: 0; /* Фиксированная высота (или auto) для футера */
}

.lpu_selector {
    flex: 0.85;
    width: 100%;
    height: 45px;
}

.default_button {
    flex: 0.15;
    width: 100%;
    height: 45px;
}

.title {
    font-size: xx-large;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    color: var(--primary-text);
}

.title_pretty {
    font-size: xx-large;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    color: var(--primary-text);
 }

.main_app_container {
    /* margin-left: 1%; */
    /* margin-right: 1%; */
    padding: 0;
    height: 100%;
    flex: 1;
    max-width: 100%;
}

.row_selector{
    margin-top: 1%;
    width: 100%;
}

.row_table{
    max-width: 100%;
    height: 100%;
    flex: 1;
    table-layout: fixed;
}

.notfound_container {
  font-size: large;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-text);
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  height: 100%; 
}

.scroll-container {
    /* max-height: 320px; */
    overflow-y: auto;
    padding-right: 8px;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

/* Скрытый скроллбар для Chrome/Safari */
.scroll-container::-webkit-scrollbar {
    width: 6px; /* Уже делаем тонким */
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Полупрозрачный */
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out; /* Плавное появление */
}

.scroll-container::-webkit-scrollbar-track {
    background: transparent; /* Фон убираем */
}

/* Показывать скроллбар только при наведении */
.scroll-container:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4); /* Чуть ярче при наведении */
}